flows.json
[{"id":"83f9d25e.db525","type":"tab","label":"Smart Attendance System","disabled":false,"info":""},{"id":"6e79a611.8215f8","type":"ibmiot in","z":"83f9d25e.db525","authentication":"apiKey","apiKey":"198dd0ba.e452af","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"0134","applicationId":"","deviceType":"AttendenceSystem","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":290,"y":240,"wires":[["806932dc.51f76","b33d3789.a31178"]]},{"id":"806932dc.51f76","type":"function","z":"83f9d25e.db525","name":"Registration Status","func":"msg.payload = msg.payload.regsts\nglobal.set('rs',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":240,"wires":[["72b262a9.940ddc"]]},{"id":"94f70af6.3adb18","type":"ui_toast","z":"83f9d25e.db525","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1050,"y":240,"wires":[[]]},{"id":"b2c61b4c.fd8bf8","type":"switch","z":"83f9d25e.db525","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Registration Successful","vt":"str"},{"t":"eq","v":"Image Captured Successfully","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":240,"wires":[["94f70af6.3adb18"],["94f70af6.3adb18"]]},{"id":"72b262a9.940ddc","type":"rbe","z":"83f9d25e.db525","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":690,"y":240,"wires":[["b2c61b4c.fd8bf8"]]},{"id":"ffd22c7f.4c994","type":"ibmiot out","z":"83f9d25e.db525","authentication":"apiKey","apiKey":"198dd0ba.e452af","outputType":"cmd","deviceId":"0134","deviceType":"AttendenceSystem","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":480,"wires":[]},{"id":"9d01ce21.268b2","type":"ui_form","z":"83f9d25e.db525","name":"Enter Details","label":"Enter Details","group":"cc8a7984.eaffa8","order":7,"width":0,"height":0,"options":[{"label":"Enter Employee ID","value":"command","type":"number","required":true,"rows":null}],"formValue":{"command":""},"payload":"","submit":"Capture Image","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":430,"y":480,"wires":[["ffd22c7f.4c994"]]},{"id":"ce1edd59.cbfdb","type":"ui_button","z":"83f9d25e.db525","name":"Recognize","group":"a2b0cded.b0694","order":6,"width":0,"height":0,"passthru":false,"label":"Recognize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"recognize\"}","payloadType":"json","topic":"topic","topicType":"msg","x":430,"y":540,"wires":[["ffd22c7f.4c994"]]},{"id":"54ad5810.101838","type":"ui_text","z":"83f9d25e.db525","group":"910245fe.e08af8","order":6,"width":6,"height":1,"name":"","label":"Recent Activity","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":300,"wires":[]},{"id":"1020c916.15e147","type":"ui_template","z":"83f9d25e.db525","group":"cc8a7984.eaffa8","name":"Design","order":6,"width":0,"height":0,"format":"<style >\n\nbody{\n    background-size: 100%;\n    background: linear-gradient(#141e30, #243b55);\n    font-family: 'Roboto Slab', serif;\n    \n}\n#SAS_Registration{\n    width : 430px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 540px;\n    background: rgba(0,0,0,.5);\n}\n\n\n\n#SAS_Attendance{\n    width : 430px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 300px;\n    background: rgba(0,0,0,.5);\n}\n#SAS_Recent_Activities{\n    width : 430px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 300px;\n    background: rgba(0,0,0,.5);\n}\n\n#SAS_Security_Window{\n    width : 430px;\n    font-size : 20px;\n    border: 2px solid orange;\n    border-radius: 5px;\n    box-shadow: 2px 2px 5px orange;\n    height : 540px;\n    background: rgba(0,0,0,.5);\n}\n\n\n\n\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1080,"y":500,"wires":[[]]},{"id":"89655f9c.48742","type":"ui_media","z":"83f9d25e.db525","group":"cc8a7984.eaffa8","name":"Registration Media","width":2,"height":2,"order":2,"category":"DIP","file":"person add.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1330,"y":500,"wires":[[]]},{"id":"4982dfa2.44887","type":"ui_media","z":"83f9d25e.db525","group":"a2b0cded.b0694","name":"Attendance Media","width":2,"height":2,"order":2,"category":"DIP","file":"recognize-2517645-2108177.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1330,"y":560,"wires":[[]]},{"id":"d8b60430.cb12c8","type":"ui_media","z":"83f9d25e.db525","group":"910245fe.e08af8","name":"Recent Activity Media ","width":2,"height":2,"order":2,"category":"DIP","file":"recentact1.png","layout":"center","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1100,"y":560,"wires":[[]]},{"id":"7f17d2e.83eaa2c","type":"ui_template","z":"83f9d25e.db525","group":"8b5ca972.511488","name":"","order":1,"width":6,"height":5,"format":"<div>\n    <img width = \"100%\" height = \"100%\" src={{msg.payload}}>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1060,"y":380,"wires":[[]]},{"id":"8405dcb7.018e3","type":"ui_button","z":"83f9d25e.db525","name":"Register","group":"cc8a7984.eaffa8","order":8,"width":0,"height":0,"passthru":false,"label":"Register","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"Register\"}","payloadType":"json","topic":"topic","topicType":"msg","x":420,"y":600,"wires":[["ffd22c7f.4c994"]]},{"id":"38e7d080.3cc57","type":"function","z":"83f9d25e.db525","name":"","func":"msg.payload = msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":380,"wires":[["7f17d2e.83eaa2c"]]},{"id":"9ef45495.c4ad88","type":"http request","z":"83f9d25e.db525","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://cc4dc272-85d7-450a-a536-30c09d73a555-bluemix.cloudant.com/employee_attendance/_all_docs?include_docs=true&ascending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":510,"y":380,"wires":[["38e7d080.3cc57"]]},{"id":"c8ef167c.236d88","type":"ui_button","z":"83f9d25e.db525","name":"","group":"8b5ca972.511488","order":3,"width":4,"height":1,"passthru":false,"label":"CHECK INTRUSION","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":220,"y":380,"wires":[["9ef45495.c4ad88"]]},{"id":"b33d3789.a31178","type":"function","z":"83f9d25e.db525","name":"Recent Activity","func":"msg.payload = msg.payload.recact\nglobal.set('ra',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":300,"wires":[["c439bd9.7690f4"]]},{"id":"c439bd9.7690f4","type":"rbe","z":"83f9d25e.db525","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":690,"y":300,"wires":[["54ad5810.101838"]]},{"id":"7138c6d5.80c628","type":"inject","z":"83f9d25e.db525","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Registration Successful","payloadType":"str","x":690,"y":340,"wires":[["54ad5810.101838"]]},{"id":"db2b02b6.491c","type":"inject","z":"83f9d25e.db525","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Registration Successful","payloadType":"str","x":840,"y":420,"wires":[["7f17d2e.83eaa2c"]]},{"id":"198dd0ba.e452af","type":"ibmiot","name":"API IOT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"cc8a7984.eaffa8","type":"ui_group","name":"Registration","tab":"7623f12f.aaeed","order":1,"disp":true,"width":"6","collapse":false},{"id":"a2b0cded.b0694","type":"ui_group","name":"Attendance","tab":"7623f12f.aaeed","order":2,"disp":true,"width":"6","collapse":false},{"id":"910245fe.e08af8","type":"ui_group","name":"Recent Activities","tab":"7623f12f.aaeed","order":3,"disp":true,"width":"6","collapse":false},{"id":"8b5ca972.511488","type":"ui_group","name":"Security Window","tab":"7623f12f.aaeed","order":4,"disp":true,"width":"6","collapse":false},{"id":"7623f12f.aaeed","type":"ui_tab","name":"SAS","icon":"dashboard","order":8,"disabled":false,"hidden":false}]